<h1>Listing brands</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brands.each do |brand| %>
  <tr>
    <td>
    <%= link_to brand.name, brand_url(brand) %>
    (avg rating: <%= brand.reviews.average(:rating) %>)
      </td>
    <% if administrator? %>
      <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
      <td><%= link_to 'Destroy', brand, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if administrator? %>
  <%= link_to 'New Brand', new_brand_path %>
<% end %>
